# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.core.resources.prefs
bin/AndroidManifest.xml
bin/classes.dex
*.class
bin/dexedLibs/appcompat_v7-a06d18d71086cae40eba04046d88542b.jar
bin/dexedLibs/try_gameengine5-d5588c599d17e9af4d843ee1b946b1ac.jar
bin/jarlist.cache
bin/R.txt
bin/res/crunch/drawable-hdpi/ic_launcher.png
bin/res/crunch/drawable-ldpi/bullet.png
bin/res/crunch/drawable-ldpi/bullet_peanut.png
bin/res/crunch/drawable-ldpi/bullet01.png
bin/res/crunch/drawable-ldpi/cat01_1.png
bin/res/crunch/drawable-ldpi/cat01_2.png
bin/res/crunch/drawable-ldpi/cat01_4.png
bin/res/crunch/drawable-ldpi/cat01_3.png
bin/res/crunch/drawable-ldpi/cat02_1.png
bin/res/crunch/drawable-ldpi/cat02_2.png
bin/res/crunch/drawable-ldpi/cat02_3.png
bin/res/crunch/drawable-ldpi/cat02_4.png
bin/res/crunch/drawable-ldpi/cat_injure.png
bin/res/crunch/drawable-ldpi/cat_origin1.png
bin/res/crunch/drawable-ldpi/cat_origin2.png
bin/res/crunch/drawable-ldpi/controller_bar.png
bin/res/crunch/drawable-ldpi/dot.png
bin/res/crunch/drawable-ldpi/gamebg.png
bin/res/crunch/drawable-ldpi/gamebg.png
bin/res/crunch/drawable-ldpi/gameboard.png
bin/res/crunch/drawable-ldpi/hp.png
bin/res/crunch/drawable-ldpi/hp.png
bin/res/crunch/drawable-ldpi/s0.png
bin/res/crunch/drawable-ldpi/s4.png
bin/res/crunch/drawable-ldpi/s3.png
bin/res/crunch/drawable-ldpi/s2.png
bin/res/crunch/drawable-ldpi/s7.png
bin/res/crunch/drawable-ldpi/s5.png
bin/res/crunch/drawable-ldpi/s5.png
bin/res/crunch/drawable-ldpi/s6.png
bin/res/crunch/drawable-ldpi/s8.png
bin/res/crunch/drawable-ldpi/start.png
bin/res/crunch/drawable-ldpi/invincible.png
bin/res/crunch/drawable-ldpi/s9.png
bin/res/crunch/drawable-ldpi/s1.png
bin/res/crunch/drawable-mdpi/author_team_btn02.png
bin/res/crunch/drawable-mdpi/author_team_btn01.png
bin/res/crunch/drawable-mdpi/brick02.png
bin/res/crunch/drawable-ldpi/info_bar.png
bin/res/crunch/drawable-mdpi/brick01.png
bin/res/crunch/drawable-mdpi/brick03.png
bin/res/crunch/drawable-mdpi/brick04.png
bin/res/crunch/drawable-mdpi/brick05.png
bin/res/crunch/drawable-mdpi/brick06.png
bin/res/crunch/drawable-mdpi/brick04_1.png
bin/res/crunch/drawable-mdpi/brick07.png
bin/res/crunch/drawable-mdpi/cat_hp_bar.png
bin/res/crunch/drawable-mdpi/exit_btn01.png
bin/res/crunch/drawable-mdpi/exit_btn01.png
bin/res/crunch/drawable-mdpi/exit_btn02.png
bin/res/crunch/drawable-mdpi/exit_btn02.png
bin/res/crunch/drawable-mdpi/explode.png
bin/res/crunch/drawable-mdpi/explode.png
bin/res/crunch/drawable-mdpi/game_restart_btn02.png
bin/res/crunch/drawable-mdpi/game_restart_btn01.png
bin/res/crunch/drawable-mdpi/game_start_btn01.png
bin/res/crunch/drawable-mdpi/game_start_btn01.png
bin/res/crunch/drawable-mdpi/game_start_btn02.png
bin/res/crunch/drawable-mdpi/ic_launcher.png
bin/res/crunch/drawable-mdpi/cat_hp_bar_frame.png
bin/res/crunch/drawable-mdpi/menu_bg.png
bin/res/crunch/drawable-mdpi/question_mark_vertical_btn.png
bin/res/crunch/drawable-mdpi/second_0.png
bin/res/crunch/drawable-mdpi/second_3.png
bin/res/crunch/drawable-mdpi/second_5.png
bin/res/crunch/drawable-mdpi/second_4.png
bin/res/crunch/drawable-mdpi/second_6.png
bin/res/crunch/drawable-mdpi/second_2.png
bin/res/crunch/drawable-mdpi/second_7.png
bin/res/crunch/drawable-mdpi/second_7.png
bin/res/crunch/drawable-mdpi/second_1.png
bin/res/crunch/drawable-mdpi/second_8.png
bin/res/crunch/drawable-mdpi/second_s.png
bin/res/crunch/drawable-mdpi/second_s.png
bin/res/crunch/drawable-mdpi/system_btn01.png
bin/res/crunch/drawable-mdpi/system_btn01.png
bin/res/crunch/drawable-mdpi/system_btn02.png
bin/res/crunch/drawable-mdpi/tool01.png
bin/res/crunch/drawable-mdpi/tool10.png
bin/res/crunch/drawable-mdpi/tool10.png
bin/res/crunch/drawable-mdpi/tool14.png
bin/res/crunch/drawable-mdpi/tool13.png
bin/res/crunch/drawable-mdpi/tool1_2.png
bin/res/crunch/drawable-mdpi/tool1_2.png
bin/res/crunch/drawable-mdpi/tool2_1.png
bin/res/crunch/drawable-mdpi/tool1_1.png
bin/res/crunch/drawable-mdpi/tool2_2.png
bin/res/crunch/drawable-mdpi/tool3_1.png
bin/res/crunch/drawable-mdpi/tool4_1.png
bin/res/crunch/drawable-mdpi/tool4_2.png
bin/res/crunch/drawable-xhdpi/cat_hand.png
bin/res/crunch/drawable-mdpi/tool5_1.png
bin/res/crunch/drawable-mdpi/tool5_2.png
bin/res/crunch/drawable-mdpi/tool5_2.png
bin/res/crunch/drawable-mdpi/tool3_2.png
bin/res/crunch/drawable-mdpi/tool3_2.png
bin/res/crunch/drawable-xhdpi/cat_hand2.png
bin/res/crunch/drawable-xhdpi/cat_hand3.png
bin/res/crunch/drawable-ldpi/hamster.png
bin/res/crunch/drawable-mdpi/question_mark_horizental_btn.png
bin/res/crunch/drawable-mdpi/second_9.png
bin/res/crunch/drawable-xhdpi/game_fail_str.png
bin/res/crunch/drawable-xhdpi/geme_fail_bg.png
bin/res/crunch/drawable-xhdpi/hamster.png
bin/res/crunch/drawable-xhdpi/icon.png
bin/res/crunch/drawable-xhdpi/ic_launcher.png
bin/res/crunch/drawable-xhdpi/hamster_injure.png
bin/res/crunch/drawable-xxhdpi/ic_launcher.png
bin/resources.ap_
bin/Try_Shoot_Deffen.apk
bin/Try_Zombe_Plantes.apk
gen/android/support/v7/appcompat/R.java
gen/com/example/try_gameengine/R.java
gen/com/example/try_shoot_deffen/BuildConfig.java
gen/com/example/try_shoot_deffen/R.java